.loading3 {
    position: relative;
    top: 50%;
    left: 50%;
    margin:-225px 0 0 -25px;
}
.loading3:before,.loading3:after{
    position:absolute;
    content:"";
}
.loading3:before{
    width:50px;
    height:50px;
    box-shadow: 0px 0px 0px 2px #fff inset;
    border-radius:100% 100% 100% 0;
    transform:rotate(-45deg);
    animation:topp 2s linear infinite;
}
@keyframes topp{
    0%{top:0;}
    50%{top:-20px;}
    100%{top:0;}
}
.loading3:after{
    width:50px;
    height:20px;
    border-radius:100%;
    background-color:rgba(255, 255, 255, 0.2);
    top:50px;
    animation:bottomm 2s linear infinite;
}
@keyframes bottomm{
    0%{opacity:.2;transform:scale(1,1);}
    50%{opacity:.8;transform:scale(.5,.5);}
    100%{opacity:.2;transform:scale(1,1);}
}